*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body {
    background-color: ghostwhite;
    
}

img {
    object-fit:cover;

}

/* banner */
img.banner {
    width:100%;
    height:70vh;
}

/* 导航栏 */
.nav {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color:  rgb(173, 116, 41);
    display: flex;
    justify-content: space-around;
    margin-top: -10px;
}
.nav a {
    text-decoration: none;
    font-size: 23px;
    color: aliceblue;
}

.nav a.active{
    color: crimson;
}

.title {
    width: 50%;
    height: 50px;
    line-height: 50px;
    /* background-color: gold; */
    justify-content: space-around;
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
}
.title::after {
    content:' ------- ';

}
.title::before {
    content:' ------- ';
}

.footer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color:burlywood;
    text-align: center;
    font-size: 10px;
    color: white;
}

